@use "sass:map";
@import "variables";
@import "__breakpoints";

@media screen and (max-width: map.get($breakpoints, "sl")) {

    .album__tabs--container {
        display: flex;
        flex-direction: column;
        width: 95%;
        margin: auto;
    }

    .card__tabs--panel {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-gap: 10px;
        width: 100%;

    }

    .card__item--container {

        border-radius: 25px;
        height: 300px;
        margin: 5% 0;


        .card__image--container {
            width: 100%;
            height: 200px;

            img {
                width: 100%;
                height: 100%;
                border-radius: 25px;
            }
        }

        .card__name {
            color: $primary_color;
            margin: 0;
        }

        .album__name {

            margin: 0;
        }

    }
}