@use "sass:map";
@import "variables.scss";
@import "__breakpoints";

@media screen and (max-width: map.get($breakpoints, "sl")) {
  .header--container {
    display: flex;
    width: 95%;
    justify-content: space-between;
    padding: 2% 2%;
  }

  .themetoggler {
    width: 30%;
    border: 0.1em solid red;
  }

  .mobile__header--container {
    display: none;
  }
}

@media screen and (max-width: map.get($breakpoints, "sm")) {
  .header--container {
    display: none;
  }

  .themetoggler {
    width: 30%;
    border: 0.1em solid red;
  }

  .mobile__header--container {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
