/* Light mode color */
/* Dark mode color */
* {
  box-sizing: border-box;
}

.bounce {
  animation: bounce 3s ease infinite;
  transition: bounce 3s ease;
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }
  80% {
    transform: translateY(-15%);
  }
  90% {
    transform: translateY(0%);
  }
  95% {
    transform: translateY(-7%);
  }
  97% {
    transform: translateY(0%);
  }
  99% {
    transform: translateY(-3%);
  }
  100% {
    transform: translateY(0);
  }
}
.login__page--container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.centerItems,
.right__section--container .handle__login--button,
.right__section--container .section__content,
.right__section--container,
.left__section--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.left__section--container {
  background-color: #de5000;
  height: 100vh;
}
.left__section--container .left__section--image {
  width: 300px;
  height: 100px;
}
.left__section--container .left__section--image img {
  width: 100%;
  height: 100%;
}

.right__section--container {
  flex-direction: column;
}
.right__section--container h1 {
  display: none;
}
.right__section--container .earphone__image--container {
  width: 200px;
  height: 200px;
  margin: 10% 0;
}
.right__section--container .earphone__image--container img {
  width: 100%;
  height: 100%;
}
.right__section--container .section__content {
  flex-direction: column;
}
.right__section--container h3 {
  align-self: center;
}
.right__section--container .handle__login--button {
  background-color: #de5000;
  border: none;
  padding: 5%;
  color: #ffffff;
  font-size: 1.4em;
  border: 0.1em solid #de5000;
  transition: all 0.3s ease-out;
}
.right__section--container .handle__login--button:hover {
  border: 0.1em solid #de5000;
  color: #de5000;
  background-color: #ffffff;
  cursor: pointer;
  transform: scale(1.1);
}
.right__section--container .handle__login--button .spotify__icon {
  font-size: 2.6em;
}

@media (max-width: 1440px) {
  .login__page--container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .centerItems,
  .left__section--container,
  .right__section--container,
  .right__section--container .section__content,
  .right__section--container .handle__login--button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .left__section--container {
    background-color: #de5000;
    height: 100vh;
  }
  .left__section--container .left__section--image {
    width: 300px;
    height: 100px;
  }
  .left__section--container .left__section--image img {
    width: 100%;
    height: 100%;
  }

  .right__section--container {
    flex-direction: column;
  }
  .right__section--container h1 {
    display: none;
  }
  .right__section--container .earphone__image--container {
    width: 200px;
    height: 200px;
  }
  .right__section--container .earphone__image--container img {
    width: 100%;
    height: 100%;
  }
  .right__section--container .section__content {
    flex-direction: column;
  }
  .right__section--container h3 {
    align-self: center;
  }
  .right__section--container .handle__login--button {
    background-color: #de5000;
    border: none;
    padding: 5%;
    color: #ffffff;
    font-size: 1.4em;
    border: 0.1em solid #de5000;
    transition: all 0.3s ease-out;
  }
  .right__section--container .handle__login--button:hover {
    border: 0.1em solid #de5000;
    color: #de5000;
    background-color: #ffffff;
    cursor: pointer;
    transform: scale(1.1);
  }
  .right__section--container .handle__login--button .spotify__icon {
    font-size: 2.6em;
  }
}
@media screen and (max-width: 576px) {
  .login__page--container {
    display: flex;
    width: 100%;
    height: 100vh;
  }

  .left__section--container {
    display: none;
  }

  .right__section--container {
    margin: auto;
  }
  .right__section--container h1 {
    display: flex;
    color: #de5000;
  }
  .right__section--container .handle__login--button {
    font-size: 1em;
  }
  .right__section--container .handle__login--button .spotify__icon {
    font-size: 2em;
  }
}

/*# sourceMappingURL=loginPage.css.map */
