@use "sass:map";

@import "variables";
@import "__breakpoints";

* {

  box-sizing: border-box;
}

.bounce {
  animation: bounce 3s ease infinite;
  transition: bounce 3s ease; 
}

@keyframes bounce {
  70% {
    transform: translateY(0%);
  }

  80% {
    transform: translateY(-15%);
  }

  90% {
    transform: translateY(0%);
  }

  95% {
    transform: translateY(-7%);
  }

  97% {
    transform: translateY(0%);
  }

  99% {
    transform: translateY(-3%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: map.get($breakpoints, "sl")) {
  .login__page--container {
    display: grid;
    grid-template-columns: repeat(2, 50%);
  }

  .centerItems {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Left section 
  .left__section--container {
    background-color: $primary_color;

    height: 100vh;

    @extend .centerItems;

    .left__section--image {
      width: 300px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }


  // Right section 
  .right__section--container {
    @extend .centerItems;
    flex-direction: column;

    h1 {
      display: none;
    }

    .earphone__image--container {

      width: 200px;
      height: 200px;

      img {
        width: 100%;
        height: 100%;
      }
    }

    .section__content {
      @extend .centerItems;
      flex-direction: column;
    }

    h3 {
      align-self: center;
    }

    .handle__login--button {
      @extend .centerItems;
      background-color: $primary_color;
      border: none;
      padding: 5%;
      color: $white_color;
      font-size: 1.4em;

      &:hover {
        border: .1em solid $primary_color;
        color: $primary_color;
        background-color: $white_color;
        cursor: pointer;
      }

      .spotify__icon {
        font-size: 2.6em;
      }

    }
  }
}

@media screen and (max-width: map.get($breakpoints, "sm")) {

  .login__page--container {
    display: flex;
    width: 100%;

    height: 100vh;
  }

  .left__section--container {
    display: none;
  }

  .right__section--container {
    margin: auto;

    h1 {
      display: flex;
      color: $primary_color;
    }

    .handle__login--button {

      font-size: 1em;

      .spotify__icon {
        font-size: 2em;
      }

    }
  }
}