@use "sass:map";
@import "variables";
@import "__breakpoints";



@media (max-width: map.get($breakpoints, "sl")) {

    .link__hover--effect {
        transform: scale(1.1);
        color: $primary_color;
        cursor: pointer;
    }

    .navigation__menu--container {
        width: 100%;

    }

    ul {
        list-style-type: none;
        width: 100%;

        li {
            color: $secondary_color;
            font-size: 1.2em;
            display: flex;
            align-items: center;
            align-self: flex-start;
            transition: .3s ease;

            span {
                margin: 0 5%;
                font-size: 1.2em;
            }

            &:hover {
                @extend .link__hover--effect;
            }
        }
    }

    .active {
        color: $primary_color;
    }




    h2 {
        margin-left: 10%;
    }

    hr {
        width: 20%;
        margin-left: 10%;
        height: 2px;
        color: $primary_color;
        background-color: $primary_color;
    }


    .logout__button {
        background: none;
        border: none;
        color: $secondary_color;
        display: flex;
        font-size: 1.2em;
        align-items: center;
        position: absolute;
        bottom: 5%;
        left: 10%;
        width: 100%;
        justify-self: flex-end;
        transition: .3s ease;

        .logout__button--icon {
            font-size: 1.4em;
            margin-right: 5%;
        }

        &:hover {
            @extend .link__hover--effect;
        }

    }
}