@use "sass:map";
@import "variables";
@import "__breakpoints";

form {
  font-size: 1.6em;

  margin-right: 15%;
  width: 20%;
  height: 40px;
}

.desktop__search--form {
  display: flex;
}

.search__input--container {
  display: flex;
  position: relative;

  .search__bar--icon {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 0.8em;
  }

  input[type="search"] {
    background-color: $sidebar_dark_mode_background_color;
    color: $secondary_color;
    border-radius: 25px 0 0 25px;
    padding: 1% 25%;
    border-right: none;
    outline: none;
    outline-color: none;
    border: 0.1em solid #fff;
  }
}

input[type="submit"] {
  background-color: $primary_color;
  color: $white_color;
  border: none;
  padding: 5% 15%;
  border-radius: 0 25px 25px 0;
  transition: all 0.3s ease;

  &:hover {
    cursor: pointer;
    color: $primary_color;
    background-color: $white_color;
  }
}

.mobile__search--form {
  display: none;
}

@media (max-width: map.get($breakpoints, "sl")) {
  form {
    font-size: 1.6em;

    margin-right: 15%;
    width: 20%;
    height: 40px;
  }

  .desktop__search--form {
    display: flex;
  }

  .search__input--container {
    display: flex;
    position: relative;

    .search__bar--icon {
      position: absolute;
      top: 25%;
      left: 10%;
      font-size: 0.8em;
    }

    input[type="search"] {
      background-color: $sidebar_dark_mode_background_color;
      color: $secondary_color;
      border-radius: 25px 0 0 25px;
      padding: 1% 25%;
      border-right: none;
      outline: none;
      border: 0.1em solid #fff;
    }
  }

  input[type="submit"] {
    background-color: $primary_color;
    color: $white_color;
    border: none;
    padding: 5% 15%;
    border-radius: 0 25px 25px 0;
  }

  .mobile__search--form {
    display: none;
  }
}

@media screen and (max-width: map.get($breakpoints, "md")) {
  .mobile__search--form {
    display: flex;
    width: 95%;
    margin: auto;
  }

  form {
    font-size: 1em;

    margin-right: 15%;
    width: 20%;
    height: 30px;
    width: 100%;
    display: flex;

    margin: auto;
  }

  .search__input--container {
    width: 100%;

    .search__bar--icon {
      position: absolute;
      top: 25%;
      left: 5%;
      font-size: 1em;
    }

    input[type="search"] {
      border-radius: 25px;
      width: 100%;
      padding-left: 15%;
      outline: none;
      border: none;

      &:focus {
        border: none;
      }
    }
  }

  input[type="submit"] {
    display: none;
  }
}

@media screen and (max-width: map.get($breakpoints, "sm")) {
  .mobile__search--form {
    display: flex;
    width: 90%;
    margin: auto;
  }

  form {
    font-size: 1em;

    margin-right: 15%;
    width: 20%;
    height: 30px;
    width: 100%;
    display: flex;

    margin: auto;
  }

  .search__input--container {
    width: 100%;

    .search__bar--icon {
      position: absolute;
      top: 25%;
      left: 5%;
      font-size: 1em;
    }

    input[type="search"] {
      border-radius: 25px;
      width: 100%;
      padding-left: 15%;
      outline: none;
      border: none;

      &:focus {
        border: none;
      }
    }
  }

  input[type="submit"] {
    display: none;
  }
}