@use "sass:map";
@import "variables";
@import "__breakpoints";

@media screen and(max-width: map.get($breakpoints, "sl")) {
  .album__main--container {
    width: 90%;
    margin: 0 auto;
    background-color: $sidebar_dark_mode_background_color;
    display: flex;
    padding: 5%;
    justify-content: space-evenly;
  }

  .album__cover--container {
    width: 300px;
    height: 300px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .album__details--container {
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .single__album--name {
    font-size: 2em;
    color: $primary_color;
  }

  .album__other__detail--container {
    display: flex;
    align-items: flex-end;

    h3 {
      font-size: 1em;
    }

    h4 {
      border-left: 0.1em solid $white_color;
      font-size: 0.8em;
      // margin-left: .5em;
      padding-left: 0.5em;
    }
  }

  .album__actions {
    &--container {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
    }

    .album__other__detail--container {
        display: flex;
        align-items: flex-end;

        h3 {
            font-size: 1em;
            padding: 0 .5em;
        }

        h4 {
            border-left: 0.1em solid $white_color;
            font-size: 0.8em;

            padding: 0 0.5em;
        }
    }
  }

  .album__track--container {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-self: space-evenly;
    align-items: center;
    margin: 2% auto;
    padding: 0 5%;
    background-color: $sidebar_dark_mode_background_color;
  }

  .album__track {
    &--details {
      width: 50%;
      display: flex;
      flex-direction: column;
      margin: 0 5%;
    }

    .album__track--container {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-self: space-evenly;
        align-items: center;
        margin: 2% auto;
        padding: 0 5%;
        background-color: $sidebar_dark_mode_background_color;
        // opacity: .5;

        &:hover {
            background-color: $black_color;
        }
    }

    &--artists {
      color: $secondary_color;
      margin: 0;
    }
  }

  .album__track__actions {
    &--container {
      width: 10%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }

    .album__track__duration {
        &--container {
            width: 20%;
            display: flex;
            align-items: flex-end;
            justify-content: flex-end;
            align-self: flex-end;
        }
    }
}

@media screen and (max-width: map.get($breakpoints, "sm")) {

    // ALbum main container 
    .album__main--container {
        flex-direction: column;
        align-items: center;
    }

    // Album cover container
    .album__cover--container {
        width: 200px;
        height: 200px;
    }

    // Album details 
    .album__details--container {
        flex-direction: column;
        align-items: center;
        width: 100%;

        h3 {
            font-size: 1em;
        }
    }

    .single__album--name {
        font-size: 1.2em;
        margin: 0;
    }



    .album__other__detail--container {
        display: flex;
        align-items: flex-end;

        h3 {
            font-size: 1em;
            padding: 0 .5em;
        }

        h4 {
            border-left: 0.1em solid $white_color;
            padding: 0 0.5em;
        }
    }


    .album__actions {

        &--play,
        &--like {
            color: $primary_color;
            font-size: 1em;
            margin: 0.5em;

            &:hover {
                cursor: pointer;
            }
        }
    }

    // Album track container

    .album__track--container {

        &:hover {
            background-color: $black_color;
            cursor: pointer;

            .album__track {
                &--details {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    margin: 0 5%;
                }

                &--title {
                    color: $primary_color;
                    margin: 0;
                }

                &--artists {
                    color: $secondary_color;
                    margin: 0;
                }
            }

        }


    }

    .album__track__actions {


        &--container {
            margin: 0;
            display: flex;
            align-items: flex-end;
            justify-content: space-between;
            border: .1em solid red;
            display: none;

        }

        &--play,
        &--like {
            color: $primary_color;
            font-size: 1.4rem;
            margin: 0 0.5em;
            display: none;

        }
    }
  }
}
