$primary_color: #de5000;
$secondary_color: #f8e5db;
$white_color: #ffffff;
$black_color: #000000;

/* Light mode color */
$body_light_mode_background: #f7f7f7;
$sidebar_light_mode_background: #ffffff;
$player_light_mode_background: #ffffff;
$text_light_mode_background: #000606;
$button_light_mode_background: $primary_color;
$button_light_mode_text: $secondary_color;
$active_link_light_mode_color: $primary_color;

/* Dark mode color */
$body_dark_mode_text_color: $secondary_color;
$body_dark_mode_background_color: #0e1010;
$sidebar_dark_mode_text_color: $secondary_color;
$sidebar_dark_mode_background_color: rgba(50 50 50 / 50%);
$player_dark_mode_background: $sidebar_dark_mode_background_color;
$player_darkmode_text_color: $white_color;
$button_light_mode_background: $button_light_mode_background;
$button_light_mode_text_color: $button_light_mode_text;

@mixin margin {
  margin-top: 5%;
  margin-bottom: 5%;
  margin-right: 5%;
  margin-left: 5%;
}

$main__padding: 5%;
$main__margin: 5%;
